<div class="houses">
    <label>
        <p>Here's to finding your future home!</p>
        <Input @value={{this.searchString}} class="light" />
    </label>

    <SearchBar @houses={{@houses}} @searchString={{this.searchString}} as |results|>
        {{#each results as |house|}}
            <li><House @house={{house}} /></li>
        {{#each}}
    </SearchBar>
</div>
