<form>
    <h1>Register your account below</h1>
    <br>
    <form autocomplete="off" action="register.js" method="post">
        <label for="registerUserName">UserName: </label>
        <input type="text" id="registerUserName" />
        <br>
        <label for="registerName">Name: </label>
        <input type="text" id="registerName" />
        <br>
        <label for="registerEmail">Email: </label>
        <input type="text" id="registerEmail" />
        <br>
        <label for="registerPassword">Password: </label>
        <input type="text" id="registerPassword" />
    </form>
</form>

<!-- Style form -->
