<button type="button" class="image {{if this.isInOpenView "open"}}" {{on "click" this.toggleOpenView}}>
    <img width="200" height="200" ...attributes>
    <small>View {{if this.isInOpenView "Close" "Open"}}</small>
</button>
