<App>
    <h2>About Dylan's Milwaukee Housing</h2>
    <br>
    <img style="float:right; height:600px;" src="assets/images/icon.jpg" width="325" ...attributes/>
    <h4>Class: CSC 485</h4>
    <br>
    <h4>Purpose: Display Local Milwaukee Houses while showing off ability to learn new technologies quickly.</h4>
    <br>
    <h4>Description of Project: </h4>
    <ul>
        <li>Capstone Project that displays the level of front-end experience and skills.</li>
        <li>Supporting SQL Server database created and hosted through AWS.</li>
        <li>First Version of the project is connecting the Realty in US API with the front-end.</li>
        <li>Second Version of the project will be connecting self-made Python web scraper with the front-end. (In Progress)</li>
    </ul>
    <br>
    <h4>API Used: Realty in US</h4>
    <br>
    <h4>Languages Used: JavaScript, Go, SQL</h4>
    <br>
    <h4>Frameworks / Libraries Used: </h4>
    <ol>
        <li>Ember.JS</li>
        <li>NaturalCompare</li>
        <li>Selenium</li>
        <li>Requests</li>
        <li>Beautiful Soup</li>
        <li>SQL Server</li>
    </ol>
    <br>
    <div>
        <p>Please click here to contact our team with any questions or concerns!</p>
        <LinkTo @route="contact" class="button">Contact Us</LinkTo>
    </div>
</App>