<App>
    <img style="float:right; height:350px;" src="assets/images/icon.jpg" width="250" ...attributes/>
    <h2>Contact Us</h2>
    <h4>
        We would love to hear any feedback or questions<br>
        from our users! Please feel free to contact us<br>
        with any questions, concerns, or recommendations<br>
        with the below phone number or email!
    </h4>
    <address>
        <p>
            2520 Iris Ct<br>
            Racine, WI 53402
        </p>
        <a href="tel:262.497.0874">+1 (262) 497-0874</a><br>
        <a href="mailto:tostdy4@gmail.com">tostdy4@gmail.com</a>
        <br>
        <LinkTo @route="about" class="button">About Us</LinkTo>
    </address>
</App>
