<App>
    <h2>Welcome to Dylan's Milwaukee Housing</h2>
    <p>We hope you find everything you are looking for in a new home in the Milwaukee Area!</p>
    <div>
        <p>Click here to learn more: </p>
        <LinkTo @route="about" class="button">About Us</LinkTo>
    </div>
    <br>
    <hr>
    <Home @model={{@house}} />
</App>
