<div class="register">
    <div class="register-login-div">
        <h3>Already Have an Account?<LinkTo @route="login" class="button" >Login</LinkTo></h3>
    </div>
    <br>
    <h1>Register your account below</h1>
    <p class="hidden">Successfully Created Account!</p>
    <br>
    <form autocomplete="off" method="post" class="register-form" {{on "submit" this.register }}>
        <label for="registerUserName">UserName: </label>
        <input type="text" id="registerUserName" name="username" required {{on "change" (fn this.update "username") }} />
        <br>
        <label for="registerName">Name: </label>
        <input type="text" id="registerName" name="name" required {{on "change" (fn this.update "name") }} />
        <br>
        <label for="registerPassword">Password: </label>
        <input type="password" id="registerPassword" name="password" required {{on "change" (fn this.update "password") }} />
    </form>
    <input type="submit" id="createAccountButton" class="button" value="Create Account" />
</div>
